<div class="runs-header">
  <h2 class="mat-title">All Runs</h2>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="table">Table</mat-button-toggle>
    <mat-button-toggle value="cards" checked="true">Cards</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div [ngSwitch]="group?.value">
  <app-all-runs-table
    *ngSwitchCase="'table'"
    [runs]="runs"
  ></app-all-runs-table>

  <app-all-runs-cards *ngSwitchCase="'cards'"></app-all-runs-cards>
</div>
