<h2 class="mat-title">Run on {{ run.date | date }}</h2>

<div fxLayout="column" fxLayoutGap="24px">
  <mat-card>
    <mat-card-title class="mat-subheading">Run map </mat-card-title>
    <div id="{{ 'map-detail-' + run.id }}" class="map"></div>
  </mat-card>
  <mat-card>
    <mat-card-title>Run Stats</mat-card-title>
    <mat-card-content>
      <p>
        Duration: <span>{{ run.duration }} min</span>
      </p>
      <p>
        Distance: <span>{{ run.distance_in_mi | number: "1.0-2" }} mi</span>
      </p>
      <p>
        Pace: <span>{{ run.pace }} mph</span>
      </p>

      <p>
        Climb: <span> {{ run.climb_ft | number: "1.0-2" }} ft</span>
      </p>
      <p>
        Calories: <span> {{ run.calories_burned }} cals</span>
      </p>
    </mat-card-content>
  </mat-card>

  <h3>Run Data Points</h3>
  <mat-card class="activites-table">
    <mat-table [dataSource]="trk">
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
        <mat-cell *matCellDef="let t">
          {{ t.time | date: "medium" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lat">
        <mat-header-cell *matHeaderCellDef>Lat</mat-header-cell>
        <mat-cell *matCellDef="let t">{{ t.lat }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lon">
        <mat-header-cell *matHeaderCellDef>Lon</mat-header-cell>
        <mat-cell *matCellDef="let t">
          {{ t.lon }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ele">
        <mat-header-cell *matHeaderCellDef>Ele</mat-header-cell>
        <mat-cell *matCellDef="let t">
          {{ t.ele }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableCols"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableCols"></mat-row>
    </mat-table>
  </mat-card>

  <p *ngFor="let t of trk">{{ t | json }}</p>

  <!-- <h3>Run Data Json</h3>
  <p>{{ runData | json }}</p> -->
</div>
